.container {
    display: none;
    box-sizing: border-box;
    flex-shrink: 0;
  }
  .isOpen {
    display: block;
    position: fixed;
    top: 71px;
    left: 0;
    z-index: 3;
    background-color: #fff;
    height: calc(100% - 71px);
    width: 100%;
    overflow-x: auto;
  }
  @media (min-width: 768px) {
    .container {
      display: block;
      padding: 24px;
      overflow: auto;
      height: 100vh;
      width: 360px;
      padding-right: 12px;
      padding-bottom: 86px;
    }
  }
  
  @media (min-width: 1440px) {
    .container {
      padding: 48px 64px;
      width: 488px;
    }
  }