.btn {
    width: 120px;
    height: 48px;
    border-radius: 200px;
    border: none;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #fff;
    background-color: #e44848;
    cursor: pointer;
  }
  @media (min-width: 1200px) {
    .btn {
      width: 166px;
      height: 56px;
      padding: 16px 48px;
      font-size: 16px;
    }
  }