.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  font-size: 48px;
  color: var(--badges);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  fill: var(--badges);
}
